.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(193 192 192);
  border: 6px outset white;
}

.frameTop {
  position: absolute;
  top: 8px;
  height: 72px;
  border: 6px inset white;
}

.frameBottom {
  position: absolute;
  top: 88px;
  border: 6px inset white;
}

.gameBoard {
  position: absolute;
  top: 94px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(193 192 192);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid gray;
  border-width: 1.5px 0 0 1.5px;
}

.design {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/image.png') no-repeat;
}

.designBlank {
  width: 30px;
  height: 30px;
  border: 4px outset white;
}
