.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.board {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(193 192 192);
  border-top: solid 6px white;
  border-right: solid 6px gray;
  border-bottom: solid 6px gray;
  border-left: solid 6px white;
}

.frameTop {
  position: absolute;
  top: 8px;
  height: 72px;
  border-top: solid 6px gray;
  border-right: solid 6px white;
  border-bottom: solid 6px white;
  border-left: solid 6px gray;
}

.frameBottom {
  position: absolute;
  top: 88px;
  border-top: solid 6px gray;
  border-right: solid 6px white;
  border-bottom: solid 6px white;
  border-left: solid 6px gray;
}

.bombNumberDisplay {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 80px;
  height: 45px;
  font-size: 30px;
  text-align: center;
  background-color: black;
  border-top: solid 1px gray;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
  border-left: solid 1px gray;
}

.smile {
  position: absolute;
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-top: solid 4px white;
  border-right: solid 4px gray;
  border-bottom: solid 4px gray;
  border-left: solid 4px white;
}

.smile:active {
  position: absolute;
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-top: solid 4px gray;
  border-right: solid 4px white;
  border-bottom: solid 4px white;
  border-left: solid 4px gray;
}

.time {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 80px;
  height: 45px;
  font-size: 30px;
  text-align: center;
  background-color: black;
  border-top: solid 1px gray;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
  border-left: solid 1px gray;
}

.gameBoard {
  position: absolute;
  top: 94px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(193 192 192);
}

.cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid gray;
  border-width: 1.5px 0 0 1.5px;
}

.design {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/image.png') no-repeat;
}

.cover {
  border-top: solid 4px white;
  border-right: solid 4px gray;
  border-bottom: solid 4px gray;
  border-left: solid 4px white;
}
